<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">


	<!-- 일반멤버 회원가입 -->
	<insert id="joinMember">
		insert into TR_MEMBER VALUES(#{email}, #{password}, #{nickname}, #{gender}, #{cell}, #{address}, 'N', 'N')
	</insert>
	
	<!-- 트레이너 회원가입 -->
	<insert id="joinTrainer">
		insert into TR_TRAINER VALUES(#{email}, #{password}, #{name}, #{gender}, #{weight}, #{height}
				, #{cell}, #{career}, #{address}, #{address_detail}, #{prefer1}, #{prefer2}, #{prefer3}, #{photo}, 0, 'N', 'N')
	</insert>
	
	<!-- 일반회원 닉네임 중복 체크 -->
	<select id="nickChk" resultType="int">
		select count(*) from tr_member where NICKNAME = #{nickname}
	</select>
	
	<!--회원 이메일 중복 체크 Mapper -->
	<select id="emailChk" resultType="int">
		select count(*) from ${table} where
		<if test='table=="tr_trainer"'>
			tr_email = #{email}
		</if>
		<if test='table=="tr_member"'>
			mem_email = #{email}
		</if>
	</select>
	
	<!-- 일반회원 로그인 -->
	<select id="m_login" resultType="Member">
		select *
		from tr_member where mem_email = #{email} and password = #{password}
	</select>
	 	
 	<!-- 트레이너 로그인 -->
	<select id="t_login" resultType="Trainer">
		select *
		from tr_trainer where tr_email = #{email} and password = #{password}
	</select>
 	
 	<resultMap id="trainerResult" type="Trainer">
 		<result column ="trainer_name" property="trainerName"/>
 	</resultMap>
 	
 	<!-- 비밀번호 변경 -->
	<update id="update_pw">
		update ${table} set 
		<if test='table=="tr_trainer"'>
			password = #{password}		
			where
			tr_email = #{email}
		</if>
		<if test='table=="tr_member"'>
			password = #{password}		
			where
			mem_email = #{email}
		</if>
	</update>
 	
 	<!-- 비밀번호 변경 -->
	<update id="m_update_pw" parameterType="Member">
		update tr_member set password = #{password} where mem_email = #{email}
	</update>
 	
 	 	<!-- 비밀번호 변경 -->
	<update id="t_update_pw" parameterType="Trainer">
		update tr_trainer set password = #{password} where tr_email = #{email}
	</update>
 	
 	
 	
 	
 	
 	
 	<!-- 패스워드 찾기 -->
 	
 	<!-- 패스워드 변경하기 -->
 	
 	<!-- 회원탈퇴 -->
 	
 	
 	
 	
 	
 	
 	
 	
	
</mapper>
