<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Message">
	<insert id="insertMatchMessage" parameterType="Message">
		INSERT INTO
				TR_MESSAGE
		VALUES(
				S_MESSAGE_IDX.NEXTVAL
				, #{tr_email}
				, #{mem_email}
				, #{msg_cont}
				, SYSDATE
				, 'Member'
		)
	</insert>
	
	<insert id="insertMatch" parameterType="Match">
		INSERT INTO
				TR_MATCH
		VALUES(
				S_MATCH_IDX.NEXTVAL
				, #{tr_email}
				, #{mem_email}
				, #{match_date}
				, #{match_time}
				,'N'
		)
	</insert>
	
	
	<select id="selectMsgBoxSend" resultType="Message">
		SELECT 
			*
		FROM
			(SELECT
				ROWNUM RNUM, N1.*
			FROM
				(SELECT 
						* 
				FROM
					TR_MESSAGE
				<where>
						 TR_EMAIL = #{email}
					OR 
						 MEM_EMAIL = #{email}
					<if test='type.equalsIgnoreCase("Trainer")'>
					AND
						WRITER = 'Trainer'
					</if>
					<if test='type.equalsIgnoreCase("Member")'>
					AND
						WRITER = 'Member'
					</if>
				</where>
				ORDER BY 
					WRITE_DATE DESC
				)N1
			)
		WHERE
			RNUM BETWEEN #{paging.start} AND #{paging.end}
	</select>
	
	<select id="selectMsgBoxRecv" resultType="Message">
		SELECT
			*
		FROM
			(SELECT
				ROWNUM RNUM, N1.*
			FROM
				(SELECT
						*
				FROM
					TR_MESSAGE
				<where>
						MEM_EMAIL = #{email}
					OR
						TR_EMAIL = #{email}
					<if test='type.equalsIgnoreCase("Trainer")'>
					AND
						WRITER = 'Member'
					</if>
					<if test='type.equalsIgnoreCase("Member")'>
					AND
						WRITER = 'Trainer'
					</if>
				</where>
				ORDER BY
					WRITE_DATE DESC
				)
			N1)
		WHERE
			RNUM BETWEEN #{paging.start} AND #{paging.end}
	</select>
	
	<select id="selectSendMsgCnt" resultType="int">
		SELECT
			COUNT(*)
		FROM
			TR_MESSAGE
		<where>
				 TR_EMAIL = #{email}
			OR 
				 MEM_EMAIL = #{email}
			<if test='type.equalsIgnoreCase("Trainer")'>
			AND
				WRITER = 'Trainer'
			</if>
			<if test='type.equalsIgnoreCase("Member")'>
			AND
				WRITER = 'Member'
			</if>
		</where>
	</select>
	
	<select id="selectRecvMsgCnt" resultType="int">
		SELECT
			COUNT(*)
		FROM
			TR_MESSAGE
		<where>
				MEM_EMAIL = #{email}
			OR
				TR_EMAIL = #{email}
			<if test='type.equalsIgnoreCase("Trainer")'>
			AND
				WRITER = 'Member'
			</if>
			<if test='type.equalsIgnoreCase("Member")'>
			AND
				WRITER = 'Trainer'
			</if>
		</where>
	</select>
	
	<select id="selectMsgDetail" resultType="Message">
		SELECT
			*
		FROM
			TR_MESSAGE
		WHERE
			MESSAGE_IDX = #{message_idx}
	</select>
	
	<select id="insertMsgAnsTra">
		INSERT INTO
				TR_MESSAGE
		VALUES(
				S_MESSAGE_IDX.NEXTVAL
				, #{tr_email}
				, #{mem_email}
				, #{msg_cont}
				, SYSDATE
				, 'Trainer'
		)
	</select>
	
	<select id="showMatchInfo" resultType="Match">
		SELECT
			*
		FROM
			TR_MATCH
		WHERE
			TR_EMAIL = #{tr_email}
			AND
			MEM_EMAIL = #{mem_email}
		ORDER BY
			MATCH_DATE DESC
	</select>
	
	<update id="updateMatchYn" parameterType="int">
		UPDATE
			TR_MATCH
		SET
			MATCH_YN = 'Y'
		WHERE
			MATCH_IDX = #{match_idx}
	</update>
	
	<select id="matchYnCheck" parameterType="int" resultType="int">
		SELECT
			count(*)
		FROM
			TR_MATCH
		WHERE
			MATCH_IDX = #{match_idx}
			AND
			MATCH_YN = 'N'
	</select>
	
	<insert id="insertMsgAnsMem" parameterType="Message">
		INSERT INTO
				TR_MESSAGE
		VALUES(
				S_MESSAGE_IDX.NEXTVAL
				, #{tr_email}
				, #{mem_email}
				, #{msg_cont}
				, SYSDATE
				, 'Member'
		)
	</insert>
	
</mapper>
