<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Trainer">
	

 	
 	
 	
 	
 	
 	<!-- 관리자 로그인확인 ???????-->
 	
 	<!-- 패스워드는 어떻게 해야하나..? -->
 	<!-- 트레이너 키워드랑 조인해서 트레이너 정보 가져오기 -->
 	<!-- <select id="selectLogin" resultType="Member">
 		select m_id, c_info, m_tell, m_reg_date, m_rentable_date 
 		from tb_member inner join tb_code on m_grade = c_code 
 		where m_id= #{id} and m_password= #{pw}
 	</select> -->
 	
 	
 	
 	<!-- 회원탈퇴 -->
 	
 	
 	
 	
 	
 	
 	
 	
	
</mapper>
