@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

/* 	font-family: 'Jeju Gothic', sans-serif; */
.about_slide {
	width: 100%;
	height: 90vh;
}

#slide1 {
	height: 80vh;
	background: url(../../img/backImage2.jpg);
	background-size: cover;
}

#slide2 {
	background: url(../../img/backImage3.jpg);
	background-size: cover;
}

#slide3 {
	background: url(../../img/backImage4.jpg);
	background-size: cover;
}

.blackBox {
	position: absolute;
	background: #000000b8;
	width: 100%;
	height: 90vh;
}

.blackBox_first {
	height: 80vh;
}

.whiteBox {
	background: white;
	width: 100%;
	height: 25vh;
	transform: translateY(65vh);
	color: black;
 	font-family: 'Noto Sans KR', sans-serif;
 	font-weight: bold;
 	font-size: middle;
}

.whiteBox_first {
	transform: translateY(55vh);
}